* {
  margin: 0;
}


body {
  background: url(bg2.png);
  background-size: cover;
  width: 100%;

}
header {
  text-align: center;
  padding: 5%;
  background: #44A08D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Merriweather', serif;
}
section {
  background: white;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10%;
  
 
}
h2 {
  text-align: center;
  font-size: 3em;
  margin-bottom: 5%;
  font-family: 'Merriweather', serif;
}
p {
  font-family: 'Inconsolata', monospace;
}
img {
  width: 10%;
  padding-left: 45%;
  margin-bottom: 5%;
}
footer {
  background: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}
@media only screen and (max-width: 600px) {
  section {
    padding: 9%;
  }
  img {
    width: 30%;
    padding-left: 35%;
    margin-bottom: 15%;
  }
  h2{
    margin-bottom: 15%;
  }
}